@import '../../../assets/styles/global.scss';

section {
  .cards {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .card {
      border-radius: 10px;
      padding: 20px;
      background-color: $light-gray;
      display: flex;
      align-items: center;
      gap: 20px;
      cursor: pointer;
      transition: border-color 0.3s, background-color 0.3s;

      &:hover {
        border-color: #ccc;
      }

      &.selected {
        background-color: #C0F8EB;
      }

      img {
        max-width: 80px;
        max-height: 80px;
      }

      div {
        flex: 1;
        display: flex;
        flex-direction: column;

        h3 {
          margin: 0 0 10px;
          font-size: 20px;
          font-weight: 600;
        }

        p {
          margin: 0;
          font-size: 16px;
          color: #555;
        }
      }
    }
  }
}
