@import '../../../assets/styles/global.scss';

.lines {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 14px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.line {
    height: 5px;
    width: 100%;
    border-radius: 15px;
    background-color: $gray;
}