@import '../../../assets/styles/global.scss';

.button {
    min-width: 100%;
    padding: 16px;

    border-radius: 10px;

    //green button
    // background-color: $regular-green;
    // color: #fff;
    // box-shadow: 0 4px $middle-green;
    // font-size: 18px;
    // font-weight: bold;
    // text-transform: uppercase;

    //white button
    background-color: #fff;
    box-shadow: 0 4px #d1d1d1;
    font-size: 16px;
    
    // &:hover{
    //     transform: translateY(4px);
    //     box-shadow: 0 0;
    // }
}