.section{
    max-width: 354px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    button {
        max-width: 100%;
    }

    h2{
        margin-top: 200px;
        max-width: 222px;
        margin-top: 40px;
        font-weight: 600;
        font-size: 24px;

        span {
            color: #29B393;
        }
    }

    .img {
        min-width: 100%;
        background-color: rgb(224, 224, 224);
        border-radius: 10px;
        max-width: 200px;
        min-height: 330px;
    }
}