.section{
    max-width: 354px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    button {
        max-width: 100%;
    }

    .img {
        min-width: 100%;
        margin-top: 130px;
        background-color: rgb(224, 224, 224);
        border-radius: 10px;
        max-width: 200px;
        min-height: 330px;
    }
}