@import '../../assets/styles/global.scss';

.main {
    max-width: 100%;
    min-height: 100vh;
    padding: 22px 16px 0;
    .lessonsplace{
        display: flex;
        flex-direction: column;
        gap:16px;
    }
    .nextChapter{
        width: 100%;
        height: 136px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        border: 2px solid $gray;
        justify-content: center;    
        align-items: center;
        margin-bottom: 30px;
        .icon{
            width:45px;
            height: 45px;
            img{
                height: 100%;
                width: 100%;
            }
        }
        .txt{
            font-size: 14px;
            font-weight: 600;
            width: 205px;
            text-align: center;
        }

    }
}
