@import '../../../assets/styles/global.scss';

.mainBlock {
    position: relative;
    height: 100vh;
    background-color: #fff;
}

.section {
    padding: 38px 18px;
    
    h5{
        font-size: 24px;
        font-weight: 600;
        margin: 34px 0;
    }

    figure {

        img {
            min-width: 100%;
            background-color: lightgray;
            min-height: 236px;
            border-radius: 10px;
        }

        figcaption {
            margin-top: 12px;
            
            color: $third-black;
            font-size: 16px;
            text-align: center;
        }
    }
}