@import '../../../assets/styles/global.scss';

.section{
    margin-top: 30px;
    max-width: 100%;

    background-color: $middle-green;
    color: #fff;

    border-radius: 20px;

    .h2{
        font-size: 16px;
        font-weight: 500;
        color: $light-gray;
        padding: 18px;

        border-bottom: 2px solid #fff;
    }

    .div{
        padding: 11px 18px 20px 18px;

        h3{
            margin-bottom: 32px;
        }

        .progress{
            min-width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 11px;
            margin-bottom: 18px;
    
            .progressLine{
                height: 6px;
                min-width: 56px;
                background-color: #fff;
                opacity: .65;
                border-radius: 9px;
            }

            .active {
                height: 6px;
                min-width: 56px;
                background-color: #fff;
                opacity: 1;
                border-radius: 9px;
            }
        }
    }
}