$light-green: #C0F8EB;
$light-red: #FFCBD2;
$light-purple: #EBD6FF;
$light-yellow: #FFE9CF;

$middle-light-green: #69E1C5;
$middle-light-red: #FF96A5;
$middle-light-purple: #C68CFF;

$regular-green: #29B393;
$regular-red: #FF536B;
$regular-purple: #A247FB;

$middle-green: #1E8970;
$middle-red: #CB4457;
$middle-yellow: #FB9D2F;

$dark-green: #094335;
$dark-red: #681722;

$main-black: #1e1e1e;
$second-black: #3E3E3E;
$third-black: #7c7c7c;
$gray: #cccccc;
$light-gray: #f0f0f0;

$bg-color: rgba(243, 242, 240, 1);
$white: #FFFFFF;
@font-face {
    font-family: Helvetica_Neue;
    src: url('../font_style/HelveticaNeue.ttf') format("truetype");

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 390px;
    min-height: 100vh;
    margin: 0 auto;
    background: $bg-color;
    font-family: 'Helvetica_Neue', sans-serif;
    color: $main-black;
    
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgray;

    position: relative;
}

a{
    color: inherit;
}
